doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/layouts/admin.min.css?#{cacheBreaker}')
    block neck
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='/img/logo-64x64.png', alt='Logo')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/admin/') Home
            //li: a(href='/account/') My Account
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | System&nbsp;
                span.caret
              ul.dropdown-menu
                li.dropdown-header Pivoted Settings
                li: a(href='/admin/statuses/') Statuses
                li: a(href='/admin/categories/') Categories
                li.divider
                li.dropdown-header User Admin
                li: a(href='/admin/users/') Users
                li: a(href='/admin/accounts/') Accounts
                li: a(href='/admin/administrators/') Administrators
                li: a(href='/admin/admin-groups/') Admin Groups
            //li: a(href='/logout/')
              i.fa.fa-user
              |  Sign Out
            //ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-user
                |  #{user.username}&nbsp;
                span.caret
              ul.dropdown-menu
                if user && user.isAdmin
                  li: a(href='/admin') Admin Area
                li: a(href='/account') My Account
                li: a(href='/account/settings/') Settings
                li.divider
                li: a(href='/logout/') Sign Out
          form.navbar-form.pull-right#_search

    div.page
      div.container
        block body

    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            |&#169; #{copyrightYear}&nbsp;
            a(href='https://github.com/wikitruth', target='_blank') #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='https://www.facebook.com/wikitruth.co') Facebook
            //li: a(href='//blog.wikitruth.co') Blog
            li: a(href='/about/') About
            li: a(href='/contact/') Contact
          div.clearfix

    div.ajax-spinner
      img(src='/img/ajax-pulse.gif', alt='Loading')

    script(type='text/template', id='tmpl-_search')
      div.dropdown
        input.form-control(name='_search', type='text', placeholder='search', tab-index='1')
        ul#_search-results-rows.dropdown-menu
    script(type='text/template', id='tmpl-_search-results-row')
      |<% if (type && type == 'header') { %>
      |<%- name %>
      |<% } else { %>
      a(href!='<%= url %>') <%- name %>
      |<% } %>
    script(type='text/template', id='tmpl-_search-results-empty-row')
      li.dropdown-header no docs matched

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    script(src='/layouts/admin.min.js?#{cacheBreaker}')

    block feet
